@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;  
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(31, 31, 31, 0); 
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136 , 0.5);
    border-radius: 10px; 
}
  
body {
    background-color: black;
    text-align: center;
    overflow: overlay;
    font-family: 'Nunito', sans-serif;
    background-image: url(img/Demon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    margin: 0px;
    color: rgb(175, 0, 0);
    font-size: 4rem;
}

header {
    margin-bottom: 10px;
}

aside {
    float: left;
    list-style-type: none;
    width: 20%;
}

aside ul {
    list-style-type: none;
    padding: 0px;
}

a {
    text-decoration-line: none;
    display: block;
    background-color: rgba(127,149,209,1);
    padding: 10px;
    margin: 10px 10px 0px 0px   ;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    color: #323A52;
}

a:hover {
    background-color: rgb(175, 0, 0);
}

a:active {
    transform: translateY(4px);
}

div{
    width: 80%;
    float: left;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    margin: 15px 10px 15px 0px;
    padding: 20px;
    text-align: left;    
    color: #eeeeee;
}

p {
    margin: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.3rem;
}

.imgWarp {
    clear:both;
    margin: auto 5vw;
    display: flex;
    justify-content: space-between;
}

img {
    width: 25vw;
    border-radius: 10px;
    
}

footer {
    background-color: rgba(127,149,209,1);
    padding: 10px;
    border-radius: 10px;
    margin: 15px 10px 15px 0;
    bottom: 0px;
}

@media (max-width: 600px) {
    aside, div {
        width: 100%;
    }
    img {
        width:100px;
    }
}